* {
    margin: 0px;
    padding: 0px;
}



#nav-bar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    }


#nology {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;
}

#link-bar {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    
}
/* Bar above, main below */

p, div {
    font-size: 18px;
}

main {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

/* left side */

#left-main {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article.panel {
    border: solid 3px black;
    min-height: 30%;
    padding: 5px;
}

#boxes1 {
    display: flex;
    justify-content: space-evenly;
}

#boxes2 {
    display: flex;
    justify-content: flex-end;
}

#boxes3 {
    display: flex;
    justify-content: left;
}

div {
    background-color: black;
    width: 120px;
    height: 120px;
    margin: 5px;
    padding: 5px;
    color: white;
}

/* Right hand side */

#right-main {
    width: 30%;
    border: solid 3px black;
    padding: 5px;
}

