* {
    margin: 0px;
    padding: 0px;
}



#nav-bar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 0px;
    padding: 0px;
}


#nology {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;
}

#link-bar {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    
}
/* Bar above, main below */

main {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

#left-main {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article {
    border: solid 3px black;
    height: 30%;
    padding: 5px;
}

#right-main {
    width: 30%;
    border: solid 3px black;
}

